@keyframes marquee-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% / 3));
  }
}

.marquee-container {
  width: 100%;
  padding: .5rem 0;
  position: relative;
  overflow-x: hidden;
}

.marquee-track {
  gap: 2rem;
  width: max-content;
  display: flex;
  animation: marquee-scroll 35s linear infinite;
}

.marquee-track:hover {
  animation-play-state: paused;
}

.marquee-item {
  flex-shrink: 0;
  transition: transform .3s ease;
}

.marquee-item:hover {
  transform: translateY(-10px);
}
